/* 1024 - 1229 */
@media screen and (max-width:1229px) {
    #header-menu {
        margin: 0;
    }
    #header-con {
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-con {
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-img {
        max-width: 400px;
    }
    #main-img img {
        width: 100%;
    }
    #products-items {
        justify-content: center;
    }
    .product {
        margin: 12px;
    }
    #order-con {
        padding-left: 20px;
        padding-right: 20px;
    }
    #order-image {
        width: 200px;
    }
}
/* 768 - 1023 */
@media screen and (max-width:1023px) {
    #header-menu {
        width: 420px;
    }
    #main-con {
        padding-top: 70px;
        flex-direction: column;
    /*в колонку*/
    }
    #main-info {
        order: 2;
        /*главность расположения элементов*/
    }
    #main-info h1 {
        text-align: center;
    }
    #button {
        text-align: center;
    }
    #main-img {
        margin-bottom: 30px;
        order: 1;
        /*главность расположения элементов*/
    }
    #products-con {
        padding-top: 70px;
    }
    #products-items {
        margin-top: 20px;
    }
    #order-con {
        justify-content: center;
        padding-top: 50px;
        position: relative;
    }
    #order-form {
        margin-left: 20px;
    }
    #order-image {
        position: absolute;
        z-index: -1;
        right: calc(50% - 400px);
    }
    #order-image img {
        position: static;
    }
}
/* 425 - 767 */
@media screen and (max-width:767px) {
    #header-con {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #header-menu {
        margin-top: 15px;
        order: 3;
        flex-basis: 100%; /*делает элемент внутри flexa на 100%*/
        justify-content: center;
    }
    #header-menu a {
        margin: 0 5px;
    }
    #main-info h1 {
        line-height: 45px;
    }
    #info-con {
        max-width: 300px;
        margin: 0 auto;
    }
    #order-con {
        flex-wrap: wrap;
        text-align: center;
    }
    #order-text-title {
        line-height: 35px;
    }
    #order-text-text{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #order-form {
        margin: 0 10px;
    }
    #order-image {
        right: calc(50% - 200px);
    }
    #footer-con {
        justify-content: space-between;
    }
    #footer-text {
        margin: 0;
    }
}

@media screen and (max-width: 649px) {
    #info-con {
        max-width: 300px;
        margin: 0 auto;
    }
}

/* 275 - 424 */
@media screen and (max-width:424px) {
    #header-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 30px;
        background: #000000d9;
        top: 0;
        left: 0;
    }
    #header-menu a.menu-item {
        margin: 15px 5px;
    }
    #burger {
        display: block;
        margin-right: 20px;
    }
    #burger svg {
        fill: #fad7a7;
        width: 36px;
        height: 36px;
    }
    #header-menu.open {
        display: flex;
    }
    #header-menu svg {
        display: block;
        width: 24px;
        fill: rgb(164, 107, 0);;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}
/* 320 - 374 */
@media screen and (max-width:374px) {
    #main-info h1 {
        font-size: 38px;
    }
    #order-form input {
        width: 290px;
    }
    #footer-con {
        justify-content: space-between;
    }
    #footer-text {
        width: 65px;
    }
}
